CompileFlags:
  Add:
    - "-std=c++17"
    - "-Wall"
    - "-Wextra"
    - "-Wpedantic"
  Remove:
    - "-W*"  # Disable all warnings temporarily during parsing
  QueryDriver:
    - "/usr/bin/c++"
    - "/usr/bin/gcc"
    - "/usr/bin/g++"
    
Index:
  Background: Build
  StandardLibrary: Yes

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Hover:
  ShowAKA: Yes

Diagnostics:
  ClangTidy:
    Add:
      - "readability-*"
      - "bugprone-*"
      - "performance-*"
      - "modernize-*"
    Remove:
      - "modernize-use-trailing-return-type"
      - "readability-identifier-length"
      - "readability-magic-numbers"
  UnusedIncludes: Strict
  MissingIncludes: Strict

Completion:
  AllScopes: Yes
